@model Dyslexword.Models.Guess

@{
    ViewBag.Title = "Borrar";
}

<h2>Completa la palabra</h2>

<h3>¿Estas seguro de borrar este nivel?</h3>
<div>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Word)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Word)
                </dd>

            </dl>
        </div>
        <div class="col-md-3">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12">
                        <img height="50" src="@Url.Action("getImage","OrderWord", new { id=Model.Id})" alt="Imagen" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger " /> |
                @Html.ActionLink("Volver", "Index", "Guess", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
