@model Dyslexword.Models.LongReading

@{
    ViewBag.Title = "Borrar";
}

<h2>Lectura Comprensiva</h2>

<h3>¿Estas seguro de borrar este nivel?</h3>
<div>

    <hr />
    <div class="row">
        <div class="col-md-6">

            <div class="form-group mb-2">
                @Html.DisplayNameFor(model => model.Text)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Text)
                </div>
            </div>

            <div class="form-group mb-2">
                @Html.DisplayNameFor(model => model.Question)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Question)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-2">
                @Html.DisplayNameFor(model => model.CorrectOption)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.CorrectOption)
                </div>
            </div>

            <div class="form-group mb-2">
                @Html.DisplayNameFor(model => model.OptionA)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.OptionA)
                </div>
            </div>

            <div class="form-group mb-2">
                @Html.DisplayNameFor(model => model.OptionB)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.OptionB)
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger " /> |
            @Html.ActionLink("Volver", "Index", "LongReading", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
